*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding:20px;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

img{
    width:30px;
}

.calculator{
    padding:20px;
    width: 500px;
    height:700px;
    background-color: rgb(85, 80, 80);
    box-shadow: 0 0 30px inset;
    display:flex;
    flex-direction: column;
    border-radius: 30px;
}

.screen{
    flex: 1;
    box-shadow: 0 0 20px inset;
    background-color: rgb(105, 145, 108);
    border-radius: 15px;
    border: 1px solid black;
    overflow: hidden;
    display:flex;
    align-items: center;
}

.screen p{
    font-size: 2.5rem;
    margin:0 auto;
    text-align: center;
    width:100%;
}

.clear{
    font-size: 25px;
}

.right-left-container{
    display:flex;
    padding:20px;
}

.calculation-section{
    background-color: rgb(59, 58, 58);
    box-shadow: 0 0 20px inset;
    border:2px solid rgb(85, 80, 80);;
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top:5px;
    border-radius:15px;
    align-items: flex-end;
}

.left-side{
    display:flex;
    flex-direction: row-;
    flex-wrap: wrap;
    flex:3;
    gap:30px;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:rgb(94, 90, 90);
    box-shadow: 0 0 20px black;
    border: 1px solid black;
    border-radius: 20px;
}

button{
    border:1px solid black;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 20px rgb(39, 39, 39);
    border-radius:15px;
    transition: 0.1s scale;
    width:1.5em;
    height:1.5em;
    font-size: 50px;
    color:white;
}

button:hover{
    cursor:pointer;
    scale:1.1;
}

button:active, .right-side button:active{
    background-color: rgb(46, 44, 44);
    scale:1.0;
}

.right-side{
    flex:1;
    display:flex;
    flex-direction: column;
    gap: 20px;
    width:fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right-side button{
    background-color: beige;
    color:black;
    transition: 0.1s background-color, 0.1s border, 0.1s scale;
    box-shadow: inset 0 0 10px;
    font-size: 45px;
}

.attribution{
    position: absolute;
    bottom:0px;
    padding:20px;
    text-align: center;
    left:0;
    width:100%;
    background-color: rgb(165, 165, 127);
}

a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(72, 104, 75);
    font-size:25px;
    font-weight: 900;
}

.left-side button{
    box-shadow: 0 0 15px black;
}

button.selected{
    border: 2px solid white;
    background-color:rgb(94, 94, 79);
}

.back-space-section{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:1px;
}

.back-space{
    width:40%;
    height:50px;
    background-color: rgb(129, 129, 97);
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px inset black;
    border: 2px solid black;
    margin-top:20px;
    margin-right: 20px;
}

.empty-space{
    width:45%;
    background-color:rgb(85, 80, 80);
    border-radius: 10px 0 20px 5px;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-space p{
    color:beige;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
}

span{
    font-family:none;
}

@media(max-width: 500px){
    button{
        font-size:50px;
    }

    .left-side{
        gap:3px;
    }

    .right-side{
        justify-content: center;
        gap:5px;
    }

    .calculation-section{
        flex:2;
    }
}
    
    @media (max-width: 348px){
        button{
            font-size:40px;
        }
    }